body{
    padding: 0;
    margin: 0 300px;
    width: 1206px;
    background: #E5E5E5;
    height: 1019px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.ellipse{
    position: absolute;
    width: 1585px;
    height: 1585px;
    left: -155px;
    top: -697px;
    z-index: -1;
    border-radius: 792.5px;
    background: radial-gradient(62.22% 62.22% at 76% 94.82%, #00828F 43.92%, #004D54 93.92%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
header{
    padding: 30px 0 0 0;
    width: 1206px;
    height: 148px;

}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.wrapper h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 120%;
    color: #FFFFFF;
    letter-spacing: 00.065em;
}
.write{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 76px;
    left: 300px;
    top: 345px;
    background: #000000;
    border: 1.65138px solid #FFFFFF;
}
.write p{
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.22em;
}
.write img{
    position: relative;
    left: -11px;
    height: 38px;
    width: 38px;

}
.wrapper .bot{
    position: absolute;
    top: 13.3%;
    left: 67.2%;
}
.cat {
    display: flex;
    justify-content: center;
}
.cat img{
    position: absolute;
    left: 28.5%;
    bottom: -1.11%;
}
footer{
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 76px;
    background-color: black;
    
}
.footer_wrapper{
    width: inherit;
    margin: 0 300px;
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;

}
.copyright{
    width:314px;
    height: inherit;
    margin: 0 100px 0 50px;
}
.copyright_content{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.5;
    width: auto;
}
.note{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.5;
    
}
.tnc{
    display: flex;
    justify-content: space-between;
    width: 353px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.06em;
    margin-left: 180px;
}
.tnc a{
    text-decoration: none;
    letter-spacing: 0.08em;
}

@media (max-width: 1367.99px){
    body{
        padding: 0;
        width: auto;
        height: 800px;
        background: #E5E5E5;
        box-sizing: border-box;
        margin: 0 200px;
    }
    .ellipse{
        width: 1244px;
        height: 1244px;
        left: -191px;
        top: -547px;
    }
    header{
        padding: 0;
        width: 1006px;
        height: 118px;
        padding: 20px 0 0 0;
    }
    header a img{
        height: 85px;
        width: 295px;
    }
    .wrapper h1{
        font-size: 37.6453px;
    }
    .wrapper .bot{
        top: 14.3%;
        left: 68%;
    }
    .wrapper .bot img{
        width: 191.02px;
        height: 191.02px;
    }
    .write{
        width: 234px;
        height: 62px;
        left: 201px;
        top: 272px;
    }
    .write p{
        font-size: 20px;
        margin-left: 0;
        padding-left: 20px;
    }
    .write img{
        width: 30px;
        height: 30px;
    }
    .cat img{
        top: 32.12%;
        left: 26%;
        height: 496px;
        width: 656px;
    }
    footer{
        top: 92%;
    }
    .footer_wrapper{
        margin: 0 0 0 200px;
    }
    .footer_wrapper .logo img{
        width: 106px;
        height: 18px;
    }
    .copyright{
        width:235px;
        height: inherit;
        margin: 0 50px 0 30px;
    }
    .copyright_content{
        height: inherit;
        font-size: 12px;
        margin-top: 20px;
        letter-spacing: 0.055em;
    }
    .note{
        font-size: 12px;
        margin-top: 6px;
        letter-spacing: 0.055em;
    }
    .tnc{
        width: 275px;
        font-size: 14px;
        margin-left: 108px;
    }
}