html,main{
    overflow-x: hidden;
}
a:link{
    color:white
}
.container{
    overflow: hidden;
    height: 100%;
}
.background{
    position: absolute;
    width: 100%;
}
body{
    padding: 0;
    margin: 0 auto 0 300px;
    background: #E5E5E5;
    box-sizing: border-box;
}
.ellipse{
    position: relative;
    width: 1585px;
    height: 1585px;
    left: -454px;
    top: -697px;
    z-index: -1;
    border-radius: 792.5px;
    background: radial-gradient(62.22% 62.22% at 76% 94.82%, #00828F 43.92%, #004D54 93.92%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
header{
    padding: 30px 0 0 0;
    width: auto;
    height: 148px;

}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.wrapper h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 120%;
    color: #FFFFFF;
    letter-spacing: 00.065em;
    width: 727px;
    height: 110px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 304px;
    height: 76px;
    left: 300px;
    top: 345px;
    background: #000000;
    border: 1.65138px solid #FFFFFF;
}
.call{
    display: none;
}
.btn p{
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.22em;
}
.write img{
    position: relative;
    height: 38px;
    width: 38px;

}
.wrapper .bot{
    position: absolute;
    top: 13.3%;
    left: 67.2%;
}
.cat {
    display: flex;
    justify-content: center;
}
.cat img{
    position: absolute;
    left: 28.5%;
    bottom: 1%;
    background-image: url('./Group 1.png');
    background-repeat: no-repeat;
    background-position: 60px 45px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 76px;
    background-color: black;
    
}
.footer_wrapper{
    width: inherit;
    margin: 0 300px;
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;

}
.copyright{
    width:316px;
    height: inherit;
    margin: 0 100px 0 50px;
}
.copyright_content{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.5;
    width: auto;
}
.note{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.5;
    width: 220px;
}
.tnc{
    width: 365px;
    display: flex;
    gap: 34px;
    width: 370px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin-left: 145px;
}
.tnc a{
    text-decoration: none;
}
@media (max-width: 1367.99px){
    body{
        padding: 0;
        background: #E5E5E5;
        box-sizing: border-box;
        margin: 0 200px;
    }
    .ellipse{
        width: 1244px;
        height: 1244px;
        left: -191px;
        top: -547px;
    }
    header{
        padding: 0;
        height: 118px;
        padding: 20px 0 0 0;
    }
    header a img{
        height: 85px;
        width: 295px;
    }
    .wrapper h1{
        font-size: 37.6453px;
    }
    .wrapper .bot{
        top: 14.3%;
        left: 68%;
    }
    .wrapper .bot img{
        width: 191.02px;
        height: 191.02px;
    }
    .btn{
        width: 234px;
        height: 62px;
        left: 201px;
        top: 272px;
    }
    .btn p{
        font-size: 20px;
        margin-left: 0;
    }
    .btn img{
        width: 30px;
        height: 30px;
    }
    .cat img{
        top: 32.12%;
        left: 26%;
        height: 496px;
        width: 656px;
    }
    .footer_wrapper{
        margin: 0 0 0 200px;
    }
    .footer_wrapper .logo img{
        width: 106px;
        height: 18px;
    }
    .copyright{
        width:235px;
        height: inherit;
        margin: 0 50px 0 30px;
    }
    .copyright_content{
        height: inherit;
        font-size: 12px;
        margin-top: 20px;
        letter-spacing: 0.055em;
    }
    .note{
        font-size: 12px;
        margin-top: 6px;
        letter-spacing: 0.055em;
    }
    .tnc{
        width: 275px;
        font-size: 14px;
        margin-left: 108px;
    }
}
@media (max-width: 767.99px){
    body{
        margin: 0 70px;
    }
    .ellipse{
        width: 1498px;
        height: 1498px;
        left: -796px;
        top: -511px;
    }
    main{
        margin-top: 14px;
        max-width: 536px;
    }
    .wrapper h1{
        font-size: 37px;
        letter-spacing: 0.01em;
    }
    .bot{
        left: 553px !important;
        top: 297px !important;
    }
    .write{
        left: 70px;
        top: 285px;
    }
    .write p{
        font-size: 20px;
        position: relative;
        right: -10px;
        letter-spacing: 0.12em;
    }
    .write img{
        position: relative;
        left: -10px;
        top: 3px;
    }
    .cat img{
        width: 766px;
        height: 595px;
        top:44%;
        left: -2%;
        background-size: 667.8px 707.63px;
    }
    footer{
        height: 95px;
    }
    .footer_wrapper{
        align-items: flex-start;
        margin: 0 0 0 70px;
    }
    .logo{
        position: absolute;
        top:19px;
    }
    .copyright{
        width: 272px;
        position: absolute;
        top: 26px;
        left: 70px;
        margin: 0;
    }
    .copyright_content{
        letter-spacing: 0.012em;
        margin-top: 25px;
    }

    .note{
        position: absolute;
        top: 46px;
        left: 423px;
        width: 340px;
        letter-spacing: 0.0001em;
    }
    .tnc{
        position: absolute;
        top: 20px;
        right: 50px;
        height: 17px;
        gap: 25px;
        width: 295px;
    }
}
@media (max-width: 424.99px){
    body{
        margin: 0;
        padding: 0 20px 0 0;
        overflow: hidden;
    }
    header{
        padding-left: 20px;
        width: auto;
    }
    .wrapper h1{
        padding-left: 20px;
        font-size: 29px;
    }
    .wrapper .bot img{
        width: 108px;
        height: 108px;
        left: 286px !important;
        top: 303px !important;
    }
    .wrapper .bot{
        left: 286px !important;
        top: 303px !important;
    }
    .ellipse{
        width: 984px;
        height: 984px;
        left: -549px;
        top: -397px;
    }
    .cat img{
        width: 112%;
        height: 382px;
        top:50%;
        left: -12%;
        background-size: 395px 420px;
    }
    .btn{
        width: 182px;
        height: 62px;
        top: 80%;
        
        z-index: 1;
    }
    .btn p{
        font-size: 16px;
        margin-left: 10px;
    }
    .btn.call{
        left: 233px;
        display: flex;
    }
    .btn.write{
        left: 20px;
    }
    footer{
        box-sizing: border-box;
        height: 173px;
    }
    .footer_wrapper{
        box-sizing: border-box;
        width: 420px;
        height: inherit;
        margin:0;
        padding-left: 20px;
    }
    .copyright{
        top:74px;
        left: 20px;
    }
    .note{
        top: 124px;
        left: 20px;
    }
    .tnc{
        margin-left: 0;
        width: 148px;
        flex-direction: column;
        right: 50px;
        gap: 10px;
    }
    .copyright_content, .note{
        font-size: 10px;
    }
}
@media (max-width: 319.99px){
    .wrapper h1{
        width: 290px;
        height: 81px;
        font-size: 23px;
    }
    .cat{
        overflow: hidden;
    }
    .cat img{
        top:71%;
        width: 458px;
        height: 370px;
    }
    .btn{
        top:111%;
    }
    .copyright {
        top: 53px;
        left: 20px;
    }
    .note {
        top: 99px;
    }
    footer{
        height: 130px;
    }
}