body{
    padding: 0;
    margin: 0 300px;
    width: 1206px;
    background: #E5E5E5;
    
}
.ellipse{
    position: absolute;
    width: 1585px;
    height: 1585px;
    left: -155px;
    top: -697px;
    z-index: -1;
    border-radius: 792.5px;
    background: radial-gradient(62.22% 62.22% at 76% 94.82%, #00828F 43.92%, #004D54 93.92%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
header{
    padding: 30px 0 0 0;
    width: 1206px;
    height: 148px;

}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.wrapper h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 120%;
    color: #FFFFFF;
    letter-spacing: 0.065em;
}
.wrapper .bot{
    position: absolute;
    top: 14.2%;
    left: 67.2%;
}
.cat {
    display: flex;
    justify-content: center;
}
.cat img{
    position: absolute;
    left: 28.5%;
    top: 327px;
}
footer{
    position: absolute;
    top: 943px;
    left: 0;
    width: 100%;
    height: 76px;
    background-color: black;
    
}
.footer_wrapper{
    width: 1206px;
    margin: 0 300px;
    display: flex;
    gap: 50px;
    flex-direction: row;

    align-items: center;

}
.copyright{
    width:314px;

}
.copyright_content{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.5;
    letter-spacing: 0.04em;

    width: auto;
}
.note{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.5;
    
}
.tnc{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.01em;
}
.tnc a{
    text-decoration: none;
    letter-spacing: 1%;
}